:root {
    --bg-color: #000;
    --second-bg-color: #bfbfbf;
    --third-bg-color: #fff;
    --main-color: #bfbfbf;
    --text-color: #fff; 
    --second-text-color: #000;
}

/* WEBSITE CONTENT */

.main-content{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
}

.main-content h2{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--text-color);
    font-style: italic;
    text-decoration-line: underline;
    text-shadow: var(--second-text-color) 5px 0px 20px;
}

.main-content p{  
    margin: 0;  
    padding-bottom: 20px;

    color: var(--text-color);
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: var(--second-text-color) 5px 0px 20px;
}

.main-content .main-container{
    width: 90%; 
    min-height: auto;
    margin-left: 10px; 
    margin-right: 10px;

    display: flex;  
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

}

.main-container-box{
    width: 90%; 
    min-height: 100px;
    height: auto;
    margin-left: 10px; 
    margin-right: 10px;

    display: flex;
        flex-direction: column;   
}

.main-container-form form{
    display: flex;
    flex-direction: column;
}

.main-container-form
input,
button,
select,
textarea{
    width: 250px;
    min-height: 25px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    
    display: flex;
        justify-content: center;
}

.main-container-form .evaluation{
    width: 250px;

    display: flex;
        justify-content: flex-start;
        flex-direction: row;

    color: var(--text-color);
    font-style: italic;
}

.main-container-form .evaluation2 {
    width: 250px;

    display: flex;
        justify-content: center;
        flex-direction: row;

    color: var(--text-color);
    font-style: italic;
    font-size: 1rem;
}
@media only screen and (max-width: 576px){
    .main-content {
            width: 100%;
            height: auto;
        }
}